{% extends 'Navegacion.html' %}

{% block contend %}
    <h1>Bienvenido a Registro de proyectos y tareas</h1>
    
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi adipisci, dicta rerum, magnam incidunt accusamus nobis eligendi voluptates vitae iure repudiandae, facilis animi id veritatis in ullam nostrum perspiciatis corporis exercitationem at culpa! Cupiditate itaque a quam suscipit quasi delectus omnis nam ipsum magni, eos eaque! Veritatis incidunt placeat neque hic excepturi nobis, doloremque quo alias laboriosam aperiam, ipsa vitae, voluptates soluta cupiditate. Accusamus accusantium est consequatur, suscipit, sed ipsum hic vitae, veniam reiciendis nihil laudantium ullam tenetur vel sunt facilis provident blanditiis ab! Dolores, distinctio quasi. Possimus quas, velit, labore aut, eveniet nulla perspiciatis suscipit officiis amet nobis necessitatibus!</p>
    
{% endblock %}